In [1]:

a={"Gold":("15 Aug",7,"Akshay")}
a.get("Gold")

('15 Aug', 7, 'Akshay')

In [2]:
a.keys()

dict_keys(['Gold'])

In [3]:
a.values()

dict_values([('15 Aug', 7, 'Akshay')])

In [4]:
def printme( str ):
   "This prints a passed string into this function"
   print (str)
   return

In [6]:
printme('Prakash')

Prakash

In [7]:
#DATABASE ACCESSING

import pymysql
db=pymysql.connect("localhost","root","")
cursor=db.cursor()
cursor.execute("Create database Emp4")
db.close()

ProgrammingError: (1007, "Can't create database 'emp4'; database exists")

In [ ]:
db1=pymysql.connect("localhost","root","","Emp4")
cursor=db1.cursor()
cursor.execute("""Create table employee(
first_name char(20) not null,
last_name char(20),
age int,
sex char(1),
income float)""")
db1.close()

In [9]:
db2=pymysql.connect("localhost","root","","emp4")
cursor=db2.cursor()
cursor.execute("Insert into employee values('Prince','Singh',23,'M',25344.54)")
db2.close()

If data is not being inserted then after execute() call db.commit() to reflect the changes into the database.

In [10]:
def gobad(x,y):
    return x/y
def gosouth(x):
    print (gobad(x,"1"))
try:
    gosouth(1)
except ZeroDivisionError:
    print("Error of zero division")
except TypeError:
    print("Type Mismatch")

Type Mismatch

# Exception handling...

In [11]:
try:
    print('hello')
    x=1/0
except:
    print("myerror")
finally:
    print("world")

hello
myerror
world

In [12]:
try:
    print (1)
    raise ValueError
    print (2)
except ValueError:
    print("Value Mismatched")

1
Value Mismatched

Raising error