In [15]:
import pandas as pd
import numpy as np
import math
from sklearn import neighbors,datasets

In [16]:
iris=datasets.load_iris()

In [17]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [18]:
x=pd.DataFrame(iris.data)

In [19]:
x.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [20]:
x.columns=iris.feature_names

In [46]:
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [22]:
y=pd.DataFrame(iris.target,columns=['Target']) #columns gives the name of the columns

In [23]:
y.head()

   Target
0       0
1       0
2       0
3       0
4       0

In [53]:
from sklearn.neighbors import KNeighborsClassifier
neigh=KNeighborsClassifier(n_neighbors=3)
neigh.fit(x,y)
test=x.head(1)
print(neigh.predict(test))

[0]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
neigh.score(x,y) #Checks the probability of correct data

0.96

In [43]:
neigh.weights

'uniform'